@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.wrapper{
	
	width:420px;
	background-color: rgba(120,26,152,0.5);
	border-radius: 10px;
	padding: 30px 40px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:url("back.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	
}
.wrapper h1{
	font-size: 36px;
	text-align: center;
	color: aliceblue;
}
.wrapper input-box{
	color: #9431B9;
	width:100%;
	height: 50px;
	margin: 15px 0;
}
.input-box input{
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 20px solid rgba(255,255,255,.2);
	border-radius: 30px;
	font-size: 16px;
	color:#9431B9;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color:#9431B9:
}
.input-box i{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	
}

.wrapper .remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin:  -150x 0 15px;
}

.data lables input{
	accent-color:#BE76CB;
	margin-right: 3px;
	color: aliceblue;
}

.remember-forgot a{
	color:#C276D2;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

 .btn{
	 text-align: center;
	width: 100%;
	height: 40px;
	background:#9431B9;
	border: none;
	outline: none;
	border-radius: 40px;
	/*box-shadow: 0 0 10px rgba(0, 0, 0,.1);*/
	cursor: pointer;
	font-size: 20px;
	color:aliceblue;
	font-weight: 600;
}

.wrapper .register-link{
	font-size: 14px;
	text-align: center;
	margin: 20px 0 15px;
	color: aliceblue;
	
}

.register-link p a {
	color:aliceblue;
	text-decoration: none;
	font-weight: 600;
	color: aliceblue;
}
.remember-forgot .checkbox{
	color: aliceblue;
}

.a{
	color: #F1EDED;
}
