@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.wrapper{
	color:#fff;
	width:420px;
	background:#5D59B2 ;
	border-radius: 10px;
	padding: 30px 40px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:url("image/back.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	
}
.wrapper h1{
	font-size: 36px;
	text-align: center;
}
.wrapper input-box{
	width:100%;
	height: 50px;
	margin: 15px 0;
}
.input-box input{
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 20px solid rgba(255,255,255,.2);
	border-radius: 40px;
	font-size: 16px;
	color: #1B1414;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color:#EFD2D2:
}


.wrapper .remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin:  -150x 0 15px;
}

.data lables input{
	accent-color:#fff;
	margin-right: 3px;
}

.remember-forgot a{
	color: #F7EFEF;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.wrapper .btn{
	width: 100%;
	height: 45px;
	background: #CEC3C3;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0,.1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.wrapper .register-link{
	font-size: 14px;
	text-align: center;
	margin: 20px 0 15px;
	
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}
